.about-card {
    margin-bottom: 80px;
    
    &--img {
        width: 202px;
        height: 202px;
    }

    &--title {
        font-size: 20px;
        line-height: 26px;
        letter-spacing: 5px;
    }

    &--desc {
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
    }
}