.about_page--card {

    &-text-content {
        padding: 60px 24px 80px;

        &-heading {
            font-size: 32px;
            font-weight: 500;
            line-height: 36px;
        }

        &-desc {
            font-size: 15px;
            font-weight: 400;
            line-height: 25px;
        }
    }
    &-img-content {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        height: 320px;
        width: 100%;
    }
    @media screen and (min-width: 576px){
        border-radius: 15px;
    }

    @media screen and (min-width: 768px){

        &-text-content {
            padding: 60px 50px 80px;
    
            &-heading {
                font-size: 48px;
                line-height: 48px;
            }
    
            &-desc {
                font-size: 16px;
                line-height: 26px;
            }
        }
    }

    @media screen and (min-width: 991px){
        &-text-content {
            padding: 0 96px;
        }
        &-img-content {
            width: 476px;
            flex-shrink: 0;

            // &--tall {
            //     height: 640px;
            // }
            // &--short {
            //     height: 480px;
            // }
        }
    }
}