.hero_circle {
    width: 640px;
    height: 640px;
    min-width: 640px;
    min-height: 640px;
    left: 0;
    top: 95px;
    opacity: .3;

    @media screen and (min-width: 768px) {
        left: initial;
        right: -100px;
        top: 90px;
    }
    @media screen and (min-width: 992px) {
        top: 0;
        right: 0;
        bottom: 0;
    }
}