.rect {
    width: 1006px;
    height: 594px;
    z-index: -1;

    &-left {
        border-top-left-radius: 297px;
        border-top-right-radius: 297px;
        border-bottom-right-radius: 297px;
        left: 0;
        top: 350px;
    }

    &-right {
        border-top-left-radius: 297px;
        border-bottom-right-radius: 297px;
        border-bottom-left-radius: 297px;
        right: 0;
        top: 120px;
    }
}
.works-rect {
    width: 1006px;
    height: 594px;
    z-index: -1;

    &-left {
        border-top-left-radius: 297px;
        border-top-right-radius: 297px;
        border-bottom-right-radius: 297px;
        left: 0;
        top: -300px;
    }
}