.nav-desktop-link {
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 2px;

    &:hover {
        text-decoration: underline;
    }
}
.navbar-toggler {
    border: none;

    &:focus {
        box-shadow: none;
    }
}