.text-gray-dark {
    color: $color-gray-dark !important;
}
.text-gray-light {
    color: $color-gray-light !important;
}
.text-black {
    color: $color-black !important;
}
.text-primary {
    color: $color-peach-dark !important;
}
.text-secondary {
    color: $color-peach-light !important;
}

.bg-gray-dark {
    background-color: $color-gray-dark !important;
}
.bg-gray-light {
    background-color: $color-gray-light !important;
}
.bg-black {
    background-color: $color-black !important;
}
.bg-primary {
    background-color: $color-peach-dark !important;
}
.bg-secondary {
    background-color: $color-peach-light !important;
}