.footer__link {
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 2px;
}
.footer-heading {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 1.2px;
}
.footer-desc {
    font-size: 16px;
    line-height: 26px;
}
.icons {
    fill: #E7816B;

    &:hover {
        fill: #ffad9b;
    }
}